.countryFlag {
}

.countryFlag button {
  /* padding: 0;
  height: auto;
  border-radius: 9999%; */
}
.countryFlag button > span {
  padding: 0;
  height: auto;
  /* border-radius: 9999%; */
  border: 2px solid red;
}

.countryFlag .ReactFlagsSelect-module_selectValue__152eS {
  display: none;
}
